elpa/
.cache/
eln-cache/
server/
org-persist/
url/
eshell/
transient/
persist/

*.txt
.lsp-session-v1

history
theme-gen.el
bookmarks
ido.last
projects
snippets
var
segmanticdb
semanticdb
auto-save-list
places
recentf
recentf.txt
projectile-bookmarks.eld

ac-comphist.dat
.mc-lists.el
