elpa/
.cache/
eln-cache/
server/
org-persist/

config.el

history
ido.last

*.txt
.lsp-session-v1

projects
snippets
var
segmanticdb
semanticdb
auto-save-list
places
recentf
recentf.txt

ac-comphist.dat
.mc-lists.el
